<%- include('Header') -%>

<div class="box" id="heading">
     <h1><%= title %></h1>
</div>
<center>
     <h2>ToDo on <%= whichDay %></h2>
</center>
<div class="box">
     <% for(let i=0;i< ListItems.length;i++){ %>
          <div class="item">
               <input type="checkbox">
               <p><%= ListItems[i] %></p>
          </div>
          <% } %>

          <form class="item" method="post" action="/">
               <input type="text" id="input" name="task" placeholder="Enter Task" autocomplete="off">
               <button type="submit" name="buttonValue" value= <%= title %>>+</button>    
          </form>
</div>

<%- include('Footer') -%>